<div class="always-bottom">
  <ion-grid>
    <ion-row>
      <ion-col>
        Mais sobre o site
      </ion-col>
      <ion-col>
        Redes Sociais
      </ion-col>
      <ion-col>
        Informações de contato

        <br/>
        Email
        <br/>
        Telefone
      </ion-col>
    </ion-row>
    <ion-row style="background-color: #81203f;">
      <ion-col>
        Copyright
      </ion-col>
    
      <ion-col>
        Sitemap
      </ion-col>
    
      <ion-col>
        Privacy Policy
      </ion-col>
    
      <ion-col>
        Terms of Use
      </ion-col>
    </ion-row>
  </ion-grid>
</div>