<ion-card>
  <ion-card-header>
    <ion-card-title>Porcentagem entre dois valores</ion-card-title>
    <ion-card-subtitle>Fórmula de Porcentagem para calcular a porcentagem entre duas quantidades:</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form (ngSubmit)="calculate()" [formGroup]="calculation">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input 
                label = "O Valor: "
                required=true 
                type="text" 
                placeholder="100" 
                formControlName="initialNumber"
                fill="outline">
              </ion-input>
              <ion-note slot="error" *ngIf="(initialNumber.dirty || initialNumber.touched) && initialNumber.errors">Número inválido</ion-note>
            </ion-col>
            
            <ion-col>
              <ion-input 
                label = "Sobre o valor: "
                required=true 
                type="text" 
                placeholder="100" 
                formControlName="finalNumber"
                fill="outline">
              </ion-input>
              <ion-note slot="error" *ngIf="(finalNumber.dirty || finalNumber.touched) && finalNumber.errors">Número inválido</ion-note>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button [disabled]="!calculation.valid" fill="outline" type="submit">Calcular</ion-button> 
    
              <ion-button [disabled]="!result" fill="outline" (click)="copyString()">
                {{result}}
                <ion-icon slot="end" name="copy"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-accordion-group>
                <ion-accordion value="first">
                  <ion-item slot="header" color="light">
                    <ion-label>Passo a Passo</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    Primeiro Conteúdo
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-col>
            <ion-col>
              <ion-accordion-group>
                <ion-accordion value="first">
                  <ion-item slot="header" color="light">
                    <ion-label>Fórmula excel</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    Primeiro Conteúdo
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-col>
          </ion-row>
        </ion-grid>
    </form>
  </ion-card-content>
</ion-card>