.max-width-xl {
    max-width: 1140px!important;
    margin: auto;
}

@media(max-width: 768px) {
    .is-Desktop {
        display: none;
    }
}

.align-center {
    text-align: center;
}

.card-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.text-bold-right {
    float: right;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}