<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Zebek Tecnologia</ion-title>
  </ion-toolbar>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9345813623099375"
  crossorigin="anonymous"></script>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="ion-justify-content-center max-width-xl">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <app-percentage-of-quantity></app-percentage-of-quantity>
            <app-quantity-as-a-percentage></app-quantity-as-a-percentage>
            <app-percent-increase-of-value></app-percent-increase-of-value>
            <app-percent-decrease-of-value></app-percent-decrease-of-value>
            <app-percentage-between-two-quantities></app-percentage-between-two-quantities>
            <app-increase-value-by-percentage></app-increase-value-by-percentage>
            <app-decrease-value-by-percentage></app-decrease-value-by-percentage>
            <app-initial-value-after-increase></app-initial-value-after-increase>
            <app-initial-value-after-decrease></app-initial-value-after-decrease>
          </ion-col>
          <ion-col size="4">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Calculadoras</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <ion-item button mode="ios">
                  <ion-label>Calculadora porcentagem</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>