<div class="ion-page" id="main-content">

  <app-header [title]="title"></app-header>

  <!-- PAGE CONTENT -->
  <ion-content [fullscreen]="true">
    <div class="ion-justify-content-center max-width-xl">
      <ion-grid>
        <ion-row>

          <ion-card *ngFor="let blogPost of blogPosts" style="width: 100%;">
            <ion-card-header>
              <ion-card-title button (click)="navigateToBlogPost(blogPost.urlPath)">{{blogPost.title}}</ion-card-title>
              <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
            </ion-card-header>
          
            <ion-card-content>
              <div [innerHTML]=blogPost.content>
                
              </div>
            </ion-card-content>
          </ion-card>
          <!-- <ion-col size-md="8" size-xs="12">

          </ion-col>
          <ion-col class="is-Desktop" size="4"> -->
            <!-- <app-side-menu></app-side-menu> -->
          <!-- </ion-col> -->
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>

</div>