<ion-card>
  <ion-card-header>
    <ion-card-title>Descobrir a diminuição percentual</ion-card-title>
    <ion-card-subtitle>Fórmula de Porcentagem para calcular a diminuição percentual:</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form (ngSubmit)="calculate()" [formGroup]="calculation">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input 
                label = "Um valor de: "
                required=true 
                type="text" 
                placeholder="100" 
                formControlName="initialNumber"
                fill="outline">
              </ion-input>
              <ion-note slot="error" *ngIf="(initialNumber.dirty || initialNumber.touched) && initialNumber.errors">Número inválido</ion-note>
            </ion-col>
            
            <ion-col>
              <ion-input 
                label = "que diminuiu para: "
                required=true 
                type="text" 
                placeholder="100" 
                formControlName="finalNumber"
                fill="outline">
              </ion-input>
              <ion-note slot="error" *ngIf="(finalNumber.dirty || finalNumber.touched) && finalNumber.errors">Número inválido</ion-note>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button [disabled]="!calculation.valid" fill="outline" type="submit">Calcular</ion-button> 
    
              <ion-button [disabled]="!result" fill="outline" (click)="copyString()">
                {{result}}
                <ion-icon slot="end" name="copy"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-accordion-group>
                <ion-accordion value="first">
                  <ion-item slot="header" color="light">
                    <ion-label>Passo a Passo</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <p>Para calcular a diminuição percentual, podemos utilizar a seguinte fórmula:</p>
                    <br/>
                    <p>diminuição percentual = (valor inicial - valor final) / valor inicial x 100%</p>
                    <br/>
                    <p>Substituindo pelos valores que temos, temos:</p>
                    <br/>
                    <p>diminuição percentual = (60 - 22) / 60 x 100%</p>
                    <p>diminuição percentual = 38 / 60 x 100%</p>
                    <p>diminuição percentual = 0,6333 x 100%</p>
                    <p>diminuição percentual = 63,33%</p>
                    <br/>
                    <p>Portanto, a diminuição percentual foi de 63,33%.</p>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-col>
            <ion-col>
              <ion-accordion-group>
                <ion-accordion value="first">
                  <ion-item slot="header" color="light">
                    <ion-label>Fórmula excel</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    Em desenvolvimento
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-col>
          </ion-row>
        </ion-grid>
    </form>
  </ion-card-content>
</ion-card>