<div class="ion-page" id="main-content">

  <app-header [title]="title"></app-header>

  <head>
    <meta property="og:description" content="Calcule porcentagens com facilidade usando nossa calculadora online. Não importa se você precisa calcular a porcentagem de um valor ou a porcentagem entre dois valores, nossa ferramenta é simples de usar e eficiente. Além disso, você pode verificar o passo a passo de cálculo e obter a fórmula do Excel ou Google Sheets do cálculo para entender como chegamos ao resultado. Se você está acostumado a calcular porcentagens no Excel, vai adorar a nossa calculadora, que faz todo o trabalho por você. Descubra como calcular porcentagem de aumento e de lucro com rapidez e precisão. Faça cálculos de porcentagem com confiança usando a nossa calculadora de porcentagem online gratuita.">
  </head>
  
  <!-- PAGE CONTENT -->
  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="max-width-xl ion-justify-content-center" style="position: relative; min-height: 100%; padding-bottom: 6rem; box-sizing: border-box;">
      <div style="margin: 0 auto; box-sizing: inherit;">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Bem vindo ao nosso nosso site</ion-card-title>
                  <ion-card-subtitle></ion-card-subtitle>
                </ion-card-header>
                
                <ion-card-content>
                  Aqui estaremos sempre disponibilizando as melhores ferramentas de desenvolvimento e em breve teremos o nosso blog para falar sobre assuntos importantes relacionados a tecnologia.
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xl="4" size-md="6" size-sm="12" size-xs="12">
              <ion-card button (click)="goToCalculatePercentage()">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-title>Calculadora de porcentagem</ion-card-title>
                  <ion-card-subtitle>Ferramentas/Calculadoras</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
              </ion-card>
            </ion-col>
            
            
            <ion-col size-xl="4" size-md="6" size-sm="12" size-xs="12">
              <ion-card button (click)="goToCalculateRuleOfThree()">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-title>Calculadora de regra de 3</ion-card-title>
                  <ion-card-subtitle>Ferramentas/Calculadoras</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size-xl="4" size-md="6" size-sm="12" size-xs="12">
              <ion-card button (click)="goToCalculateCompoundInterest()">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-title>Calculadora de juros compostos</ion-card-title>
                  <ion-card-subtitle>Ferramentas/Calculadoras</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <app-footer></app-footer>
    </div>
  </ion-content>
</div>