<ion-content [fullscreen]="true">

  <div class="ion-padding background-gradient css-selector">
    <ion-grid>

      <ion-row class="ion-justify-content-center">
        <img class="avatar" src="https://media.licdn.com/dms/image/C4D03AQG3OkT8dFxp5w/profile-displayphoto-shrink_800_800/0/1551926506356?e=1686787200&v=beta&t=Ifaiygd6NtMeNWv46Tb7vaUMHxenYrqiMgpx0C7O0EA"/>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-text color="secondary">
          <h1>Luiz Maciel</h1>
        </ion-text>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-text color="secondary">
          <h3>Developer</h3>
        </ion-text>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-button class="button-common-size" expand="block" fill="outline" color="secondary">
          <ion-icon name="logo-linkedin" slot="start"></ion-icon>
          Linkedin
        </ion-button>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-button class="button-common-size" expand="block" fill="outline" color="secondary">
          <ion-icon name="logo-github" slot="start"></ion-icon>
          Github
        </ion-button>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-button class="button-common-size" expand="block" fill="outline" color="secondary">
          <ion-icon name="logo-youtube" slot="start"></ion-icon>
          Youtube
        </ion-button>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-button class="button-common-size" expand="block" fill="outline" color="secondary">
          <ion-icon name="logo-tiktok" slot="start"></ion-icon>
          TikTok
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>